.button{
    display: flex;
    
}

.botones{
    display: grid;
    width: 100%;
    grid-template-columns: 1;
    grid-template-rows: 4;
}
button{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}