<mat-card> 
    <div style="text-align:center;">
        <mat-card-title> Registra tu Cita</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="citaNueva">
        <mat-form-field class="campos-field">
            <input type="number" matInput placeholder="Cedula" formControlName="cedula">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombres" formControlName="nombres">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input type="number" matInput placeholder="Edad" formControlName="edad">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombre Doctor" formControlName="doctor">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Fecha" formControlName="fecha">
        </mat-form-field>
        <button mat-raised-button [disabled] = "!citaNueva.valid" (click)="onSubmit()">Aceptar</button>  
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
    </form>
    
</mat-card>